/* Admin Add Product Page */

.admin-container {
  min-height: 100vh;
  background: linear-gradient(135deg, #a5b0ca, #1e293b);
  color: white;
  padding: 40px;
  box-sizing: border-box;
}

.admin-container h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 28px;
}

.admin-form {
  background: rgba(255, 255, 255, 0.08);
  padding: 20px;
  max-width: 450px;
  margin: 0 auto 35px;
  border-radius: 14px;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.admin-form input {
  padding: 10px;
  border-radius: 6px;
  border: none;
  outline: none;
  font-size: 14px;
}

.admin-form input[type="file"] {
  color: white;
  display: flex;
}

.admin-form button {
  background: #6366f1;
  border: none;
  padding: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.3s;
}

.admin-form button:hover {
  background: #4f46e5;
}

.admin-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 20px;
}

.product-card {
  background: rgba(255,255,255,0.1);
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.product-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  margin-top: 10px;
  border-radius: 8px;
}

.product-card h4 {
  margin-top: 10px;
}

.product-card p {
  margin: 5px 0 10px;
}

.product-card button {
  background: crimson;
  border: none;
  padding: 8px 12px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.2s;
}

.product-card button:hover {
  background: #b91c1c;
}
